@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500&family=Exo+2:wght@400;500;600;700;800;900&family=Gabarito:wght@500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  /* font-family: 'Gabarito', sans-serif; */
}

body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h4,
h5,
h6 {
  /* font-family: 'Exo 2', sans-serif; */
  font-family: "Gabarito", sans-serif;
}

span,
p,
a,
li,
button {
  font-family: "assistance", sans-serif;
  letter-spacing: 0.8px;
  font-weight: normal normal;
}

img {
  width: 100% !important;
}

/* THE CUSTOMS STYLES */

.hero-banner-img {
  background-image: url(/assets/wavv.webp) !important;
  background-position: top, center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: fit-content;
}



.hero-profile-banner {
  background-image: url(/assets/kharis.png) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: fit-content;
}

.custom-btn {
  background: linear-gradient(
    45deg,
    transparent 22%,
    #04e6fb 22%,
    #9006fb 78%,
    transparent 0
  );
}

.custom-text {
  text-shadow: 13px -2px 8px rgba(50, 66, 40, 0.9);
  font: normal normal 16px/1.5 "roboto";
  letter-spacing: 2px;
}

.branded {
  background: #edde5d;
  background: -webkit-linear-gradient(44deg, #f3b304 0%, #e7270e 100%);

  -webkit-backdrop-filter: blur(48px);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GRADient TEXT */
.text-gray-gradient {
  background: #fffdfd;
  background: linear-gradient(to right, rgb(255, 255, 255) 45%, #f0efefc2 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  
}

/* TEXT ANIMATION */

.svg{
	font-family: "Russo One", sans-serif;
	width: 30%; height: 50%;
}
.svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #DE1A02;
	font-size: 24px;
}
@keyframes stroke {
	0%   {
		fill: rgba(240,2,26,0); stroke: rgba(222,26,2,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(240,2,26,0); stroke: rgba(222,26,2,1); }
	80%  {fill: rgba(240,2,26,0); stroke: rgba(222,26,2,1); stroke-width: 3; }
	100% {
		fill: rgba(240,2,26,1); stroke: rgba(222,26,2,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


/* Border effect */

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #f71313;
  --c2: rgba(34, 33, 35, 0.784);

  --c3: rgba(8, 175, 240, 0.1);
}

.wrapper {
  min-width: min(40rem, 100%);
  border-radius: 10px;
}

.box {
  /* font-size: 3vw; */
  margin: max(0rem, 0vw);
  border: 1rem solid;
  padding: 3vw;
  border-radius: 10px;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c2) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c3) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
  border-radius: 10px;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
